*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: Arial,Sans-serif;

}
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0b3b36;
	padding:10px 16px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}
.navbar a{
	text-decoration: none;
	color:#fff;

}
.navbar-logo{
	text-shadow: 3px 0  2px gray;
}

.navbar-links ul{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
	

}
.navbar-links ul li a{
	padding:10px 12px;
	border-radius: 5px;
	transition: 200ms;

}
.navbar-links ul li a:hover,
.navbar-links ul li a:focus{
	background-color: skyblue;
	outline: 2px solid #0b3b50;

}

.navbar-links{
display: flex;
gap: 10px;

	
}
.nav-btn{
	color:#0b3b50;
	border: none;
	padding:8px 16px;
	background-color: #f5c542;
	cursor: pointer;
	font-size: 16px;
}
.nav-btn:hover,
.nav-btn:focus{
	color:#fff;
	background-color: #0b3b36;
	outline: 2px solid #f5c542;
}

/*hero section*/
.hero-section-container{
	background-color: gray;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	color: #0b3b50;
}
.hero-section{
	background-color: #fff;
	padding:50px;
	text-align: center;
	
}
main .hero-section a{
	text-decoration: none;
}
.contact-btn{
    color:#fff;
	border: none;
	padding:8px 16px;
	font-size: 16px;
	background-color: #0b3b36;
	cursor: pointer;
	border-radius: 4px;

}
.contact-btn:hover,
.contact-btn:focus{
	
	color:#0b3b50;
	background-color: #f5c542;
	outline: 2px solid #f5c542;
}
.hero-name{
	text-shadow: 3px 0  2px #0b3b36;

}

@media(max-width:540px){
	.navbar{
       display: flex;
       flex-direction: column;
       gap: 10px;
    
       
	}
	.navbar-links ul{
		flex-direction: column;
		padding: 10px 0;
		gap: 20px;



	}
	.navbar-links {
		flex-direction: column;
		gap: 0;
		

	}


}